@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
/*  devia ter colocados dentro de paragrafos na sections */

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    padding-top: 50px;
}

header p {
    font-family: var(--fonte1);
    font-size: 1em;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    font-family: var(--fonte3);
}

section {
    padding: 10vh 30px;
    font-size: 3.5vw;
}

.black {
    background-color: rgba(0, 0, 0, 0.218);
    color: white;
    width: 50vw;
    display: inline-block;
}
/* não precisava ter feito a classe black, era só ter colocado as estrofes em paragrafos e editar section > p */

.imagem {
    background-position:  center right;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.324);
}

#img01 {
    background-image: url('imagens/background001.jpg');
}

#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
    font-family: var(--fonte1);
    text-align: center;
}

footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}